<div class="main-container">
    <section class="page-title page-title-1 image-bg overlay parallax">
        <div class="image-background">
            <img alt="Background Image" class="background-image" src="img/cover11.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb0">About Us</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
        <ol class="breadcrumb breadcrumb-2">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">About Us</li>
        </ol>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="number">2008</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="number">150+ Members</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Millions</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <hr class="mb0">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h5 class="uppercase">
                        <strong>Principles</strong>
                    </h5>
                </div>
                <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                    <p class="mb0">Strive for the perfect balance
                        <br /> between form and function.</p>
                </div>
                <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                    <p class="mb0">Communicate with clarity, be complex
                        <br /> but never complicated.</p>
                </div>
                <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                    <p class="mb0">Constructive collegiality is key
                        <br /> to the stimulation of ideas.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-md-offset-3 mb-xs-24">
                    <p class="mb0">Question standard norms before
                        <br /> choosing to obey them.</p>
                </div>
                <div class="col-md-3 col-sm-6 mb-xs-24">
                    <p class="mb0">Embrace the difficult decision
                        <br /> that drive creativity forward.</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="mb0">Trust in collaboration
                        <br /> the hallmark of our work.</p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <hr class="mb0">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h5 class="uppercase">
                        <strong>Team</strong>
                    </h5>
                </div>
                <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-1.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Buhari Uche</h5>
                        <span class="inline-block mb40 mb-xs-24">Founder</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
                <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-2.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Chinedu Balogun</h5>
                        <span class="inline-block mb40 mb-xs-24">Chairman</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
                <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-3.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Blessing Audu</h5>
                        <span class="inline-block mb40 mb-xs-24">Vice Chairman</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <hr class="mb0">

    </div>